body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe9e9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  
}



section {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    .rounded-image {
        border-radius: 15px; 
        width: 100px; 
        height: auto; 
    }
}
    .grid-section {
        margin-bottom: 20px;

        background: #ffffff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        .rounded-image {
            border-radius: 15px; 
            width: 100px; 
            height: auto; 
            header {
                text-align: center;
            }
        }
    
}



h3 {
    margin: 10px 0;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 20px; 
    gap: 10px;
    width: 1000px;
  
}

.rounded-image {
    height: auto;
    width: 175px;
    transition: transform 0.3s ease; 
    border-radius: 15px; 
    justify-content: center;
    width: 175px;
}

.rounded-image:hover {
    transform: scale(1.1); 
}
     
    
    .container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .section {
        width: 30%; 
    }
    
    .grid-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        gap: 10px;
        justify-content: space-between; 
        margin-bottom: 20px;
    }
    
    .grid-section img {
        width: 100%; 
        height: auto; 
    }
    .text-center {
        text-align: center; 
        margin-bottom: 20px; 
        display: inline; 
    }
    
            .sectiona {
                font-size: 15px;
                height: 75px;
                width: 287px;
                display: grid;
                gap: 10px;
                justify-content: space-between; 
                background-color: #ffe9e9;
                margin-bottom: 20px;
                margin-right: 3px;
                background: #ffffff;
                padding: 15px;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                justify-content: center; /* Центрирует по горизонтали */
                    header {
                        text-align: center;
                    }
                }
.rounded-imagei {
     border-radius: 15px; 
}
.rounded-imageii {
     border-radius: 15px; 
     height: 80px;
     width: 80px;
}
 .button {  
  transition: transform 0.3s;             
  border: none;
  background-color:#ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 20px   ;
        }
        
.button:hover {
    transform: scale(1.1); 
}
       @media (max-width: 768px) {
    
       body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe9e9;
    display: flex;
    justify-content: center;
     font-size: 9px;
}

section {
       margin-left:7px;
      margin-top:5px;
      margin-bottom:5px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 75%; 
}

.rounded-image {
    border-radius: 10px; 
    width: 80px; 
    height: auto; 
}

h3 {
    margin: 5px 0;
}
h2 {
     font-size: 13px;
}
h1 {
     font-size: 16px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 10px; 
    gap: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
      
    margin: 0 auto;
}

.section {
    width: 45%; 
}

.grid-section {
     background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px;
     margin: 5px;
    margin-right: 7px;
    margin-left:5px;
    margin-top:7px;
    margin-bottom: 7px;
    width:30%;
}

.grid-section img{
    width: 40px; 
     background: #fff;
    height: 30px;
     margin: 5px;
      border-radius: 15px; 
      border-radius: 10px;
      border-radius: 10px;
    margin-left: 7px;
}

.text-center {
    text-align: center; 
    margin-bottom: 10px; 
}

.sectiona {
    font-size: 10px;
    height: 50px;
    display: grid;
    gap: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
     margin: 7px;
 
     margin-right: 7px;
    margin-left:5px;
    margin-top:7px;
    margin-bottom: 7px;
    width:30%;
}

.button {  
    transition: transform 0.3s;             
    border: none;
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    margin: 10px;
}

.rounded-imagei {
     border-radius: 15px; 
     border-radius: 10px; 
     width: 30px; 
height: 30px;
}
.rounded-imageii {
     border-radius: 10px;
     width: 40px; 
height: 40px;


}
    
}      


            
            

