body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe9e9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-content: center;
}



section {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    .rounded-image {
        border-radius: 15px; 
        width: 100px; 
        height: auto; 
    }
}
    .grid-section {
        margin-bottom: 20px;

        background: #ffffff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        .rounded-image {
            border-radius: 15px; 
            width: 100px; 
            height: auto; 
            header {
                text-align: center;
            }
        }
    
}



h3 {
    margin: 10px 0;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 20px; 
    gap: 10px;
    width: 1200px;
  
}

.rounded-image {
    height: auto;
    width: 175px;
    transition: transform 0.3s ease; 
    border-radius: 15px; 
    justify-content: center;
    width: 175px;
}

.rounded-image:hover {
    transform: scale(1.1); 
}
     
    
    .container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .section {
        width: 30%; 
    }
    
    .grid-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        gap: 10px;
        justify-content: space-between; 
        margin-bottom: 20px;
    }
    
    .grid-section img {
        width: 100%; 
        height: auto; 
    }
    .text-center {
        text-align: center; 
        margin-bottom: 20px; 
        display: inline; 
    }
    
            .sectiona {
                font-size: 15px;
                height: 75px;
                width: 287px;
                display: grid;
                gap: 10px;
                justify-content: space-between; 
                background-color: #ffe9e9;
                margin-bottom: 20px;
                margin-right: 3px;
                background: #ffffff;
                padding: 15px;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                justify-content: center; /* Центрирует по горизонтали */
                    header {
                        text-align: center;
                    }
                }
.rounded-imagei {
     border-radius: 15px; 
}
.rounded-imageii {
     border-radius: 15px; 
     height: auto;
     width: auto;
}
             
            
            

