body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe9e9;
    display: flex;
    justify-content: center;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.rounded-image {
    border-radius: 15px; 
    width: 100%; /* Изменено для адаптивности */
    height: auto; 
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Адаптивная сетка */
    gap: 10px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

h3 {
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    width: 100%;
}

.centered-text {
    text-align: center; 
    margin-top: 10px; 
}

.container {
    display: flex;
    flex-direction: column; /* Изменено для мобильных устройств */
    width: 100%;
}

.section {
    width: 100%; /* Изменено для адаптивности */
}

.text-center {
    text-align: center; 
    margin-bottom: 20px; 
}

.textii {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.text {
    flex: 1; 
    text-align: center; 
}

.image {
    float: right;
}

.texti {
    float: left;
    margin-right: 50px;
}

.sectiona {
    font-size: 15px;
    display: grid;
    gap: 10px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* Изменено для адаптивности */
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    header {
        padding: 15px 0;
    }

    .grid-section {
        grid-template-columns: repeat(2, 1fr); /* Две колонки на мобильных */
    }

    .section {
        width: 100%; /* Полная ширина для секций */
    }

    .textii {
        flex-direction: column; /* Вертикальное выравнивание для мобильных */
        align-items: flex-start;
    }

    .texti {
        margin-right: 0; /* Убираем отступ для мобильных */
    }
}
