body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe9e9;
    display: flex;
    justify-content: center;
}

section {
    margin: 10px auto; /* Центрируем секции */
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.rounded-image {
    border-radius: 15px; 
    width: 100%; /* Изменяем ширину на 100% для мобильных */
    height: auto; 
}

h3 {
    margin: 10px 0;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 20px; 
    gap: 10px;
}

.rounded-image {
    height: auto;
    width: calc(50% - 10px); /* Уменьшаем ширину для мобильных */
    transition: transform 0.3s ease; 
}

.rounded-image:hover {
    transform: scale(1.1); 
}

.container {
    display: flex;
    flex-direction: column; /* Изменяем направление на колонку для мобильных */
    width: 100%;
}

.section {
    width: 100%; /* Устанавливаем ширину на 100% */
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Уменьшаем количество колонок для мобильных */
    gap: 10px;
}

.grid-section img {
    width: 100%; 
    height: auto; 
}

.text-center {
    text-align: center; 
    margin-bottom: 20px; 
}

.sectiona {
    font-size: 15px;
    height: auto; /* Убираем фиксированную высоту */
    width: calc(100% - 6px); /* Устанавливаем ширину на 100% с учетом отступов */
    display: grid;
    gap: 10px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.rounded-imagei,
.rounded-imageii {
     border-radius: 15px; 
     height: auto; /* Убираем фиксированную высоту */
     width: calc(25% - 6px); /* Устанавливаем ширину на четверть экрана */
}

.button {  
   transition: transform 0.3s;             
   border: none;
   background-color:#ffffff;
   padding: 10px; /* Уменьшаем отступы для мобильных */
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px; /* Уменьшаем размер шрифта для мобильных */
   border-radius: 10px;
   margin-bottom: 20px;
}
        
.button:hover {
   transform: scale(1.1); 
}



   .rounded-image {
       width: calc(100% - 20px); /* Ширина изображений на маленьких экранах */
   }

   .button {
       font-size: 12px; /* Еще меньше шрифт для кнопок на маленьких экранах */
       padding: 8px; /* Уменьшаем отступы кнопок */
   }
}
