body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe9e9;
    display: flex;
    justify-content: center;
}

section {
    margin: 5px 0 10px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.rounded-image {
    border-radius: 10px; 
    width: 80px; 
    height: auto; 
}

h3 {
    margin: 5px 0;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 10px; 
    gap: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section {
    width: 45%; 
}

.grid-section {
     background: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px;
}

.grid-section img{
    width: 100%; 
     background: #fff;
    height: auto; 
}

.text-center {
    text-align: center; 
    margin-bottom: 10px; 
}

.sectiona {
    font-size: 12px;
    height: 60px;
    display: grid;
    gap: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.button {  
    transition: transform 0.3s;             
    border: none;
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.rounded-imagei, .rounded-imageii {
    border-radius: 10px; 
}
.rounded-imageii {
    height: 40px;
    width: 40px;
}
